.goTopHidden {
    display: none;
}

.goTop {
    position: fixed;
    width: 150px;
    bottom: 5%;
    left: 90%;
    cursor: pointer;
    background-color: #0d6efd;
    color: #EEE;
    border-radius: 20px;
    border: rgba(0, 0, 0, 0);
}
